body{
	text-align: center;
}

h1{
	text-align: center;
	padding-top: 8%;
	font-size: 50px;
}

#timerField{
	font-size: 50px;
}

#setTimer{
	text-align: left;
}

#timerList{

	font-size: 18px;
}

#timeRemaining{
	font-size: 10px;

}

#hours{
	font-size: 12px;
}

#timerInput{
	text-align: center;