@font-face { 
	font-family: 'National'; src: url('//www.usc.edu/assets/fonts/NationalWeb-Regular.eot'); src: local(':)'), url('//www.usc.edu/assets/fonts/NationalWeb-Regular.woff') format('woff'), url('//www.usc.edu/assets/fonts/NationalWeb-Regular.ttf') format('truetype'), url('//www.usc.edu/assets/fonts/NationalWeb-Regular.svg') format('svg'); 
	font-weight: 500; 
	font-style: normal; 
}

/*@font-face {
	font-family: 'National';
	src: url(NationalFamily/National-Regular.otf);
	font-style: normal;
	font-weight: 500;
}*/

body{
	text-align: center;
	font-family: National;
}

h1{
	text-align: center;
	padding-top: 2%;
	font-size: 65px;
}

#alertBanner{
	padding-top: 1%;
	font-style: italic;
	font-size: 35px;
}

#timerField{
	font-family: Arial;
	font-size: 50px;
}

#setTimer{
	text-align: left;
}

#timerList{
	font-size: 20px;
}

#showTimerOptions{
	font-weight: bold;
	text-align: left;
	font-size: 16px;
}

#timeRemaining{
	font-size: 16px;
}

#hours{
	font-size: 16px;
}

#timerInput{
	font-size: 14px;
	line-height: 14px;	
}

table, tr, td{
	padding-top: 2%;
	margin-left: auto;
	margin-right: auto;
}

#alerts{
	padding-left: 5%;
}

#soundCheckBox{
	font-size: 14px;
	padding-bottom: 5%;
}

#errorMessage{
	margin-left: 30%;
	margin-right: 30%;
	font-size: 20px;
}

/*#options-timerHours{
	box-shadow: 0 0 5px red;
}*/

input[type="text"]
{
    font-size:20px;
   /* font-family: "Arial";*/
}
